body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.product-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-detail div {
    margin-bottom: 20px;
    width: 100%;
}
.product-detail label {
    font-weight: bold;
}
.product-detail p {
    margin: 5px 0;
    color: #555;
}
.back-button {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.back-button a {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.back-button a:hover {
    background-color: #0056b3;
}
.imagen-producto {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 8px;
    object-fit: cover;
}
.comprar-producto {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}
.comprar-producto:hover {
    background-color: #0056b3;
}